    .sidebar, .content{
		background: #fff;
		color: #000;
		height: 100%;
		border-radius: 4px;
		border:1px solid #777;
	}
	.sidebar{
		width: 300px;
        left:0;
        top:0;
		position: absolute;
	}
    .content{
		width: 1500px;
        height: 100%;
        margin-left: 300px;
	}
    .card-title {
        margin-left: 10px;
    }
    .row {
        margin-left: 10px;
    }
    .table {
    border-bottom:0px !important;
}
.table th, .table td {
    border: 1px !important;
}
.fixed-table-container {
    border:0px !important;
}